@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Quicksand:wght@300..700&display=swap");

:root {
  --clr-primary: #153939;
  --clr-secondary: #c93f4f;
  --clr-dark: #2b2b2b;
  --clr-light: #fff;
  --font-primary: "Quicksand", sans-serif;
  --font-secondary: "DM Serif Text", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: var(--clr-dark);
  font-family: var(--font-primary);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 5rem;
}

/* HEADER */
.header {
  padding: 2rem 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--clr-light);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo a {
  font-size: 3rem;
  font-family: var(--font-secondary);
  color: var(--clr-primary);
}
.header__nav {
  display: flex;
  gap: 3rem;
  text-transform: uppercase;
}
.header__nav li a {
  color: var(--clr-primary);
  font-size: 1.4rem;
  position: relative;
}
.header__nav li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--clr-secondary);
  left: 0;
  bottom: -3.1rem;
  transition: all 0.3s ease;
}
.header__nav li a:hover::after,
.header__nav li a:active::after {
  width: 100%;
}

/* HEADER MOBILE */
.header .toggle__menu span {
  background-color: var(--clr-primary);
  width: 3rem;
  height: 0.3rem;
  display: block;
  border: 2px solid var(--clr-primary);
  border-radius: 1rem;
  transition: all 0.5s ease;
}
.header .toggle__menu {
  display: none;
}

@media screen and (max-width: 520px) {
  .header .toggle__menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .header {
    position: fixed;
    width: 100%;
    background-color: var(--clr-light);
    z-index: 99;
  }
  .header__nav {
    position: fixed;
    flex-direction: column;
    background-color: var(--clr-light);
    top: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 22rem;
    transform: translateY(-14rem);
    z-index: 99;
    right: -100%;
    transition: all 0.5s ease;
  }
  .header__nav.open {
    right: 0;
  }
  .header img {
    width: 10rem;
  }
  .header__nav li a {
    font-size: 2rem;
  }
  .header__nav li a::after {
    background-color: unset;
  }
  .header__nav li a:hover,
  .header__nav li a:active {
    color: var(--clr-secondary);
  }
  .toggle__menu.open span:first-child {
    transform: translate(0, 6px) rotate(225deg);
    transition: all 0.5s ease;
  }
  .toggle__menu.open span:nth-child(2) {
    opacity: 0;
    transition: all 0.5s ease;
  }
  .toggle__menu.open span:last-child {
    transform: translate(0, -11px) rotate(-225deg);
    transition: all 0.5s ease;
  }
}

/* HOME BANNER */
.homeBanner {
  padding-top: 7rem;
  background-color: var(--clr-primary);
  height: 72rem;
}
.homeBanner__wrapper h1 {
  font-family: var(--font-secondary);
  color: var(--clr-light);
  font-size: 8rem;
  text-align: center;
  margin-bottom: 5rem;
}
.homeBanner__wrapper p {
  max-width: 60rem;
  color: var(--clr-light);
  margin: 0 auto;
  text-align: center;
}
.homeBanner__wrapper img {
  margin: 10rem 0;
  width: 100%;
}

/* HOME BANNER MOBILE */
@media screen and (max-width: 520px) {
  .homeBanner {
    padding-top: 10rem;
    height: 50rem;
  }
  .homeBanner h1 {
    font-size: 3rem;
  }
  .homeBanner img {
    margin-top: 10rem;
    margin-bottom: 0;
  }
  .homeBanner p {
    max-width: 40rem;
  }
}

/* HOME HOLIDAY */
.homeHoliday {
  padding-top: 5rem;
  margin-top: 10rem;
}
.homeHoliday__wrapper {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 5rem;
}
.homeHoliday__left {
  border-right: 1px solid rgba(18, 17, 17, 0.1);
  padding-right: 5rem;
}
.homeHoliday__left small {
  color: var(--clr-secondary);
  font-size: 1.4rem;
  font-weight: 500;
}
.homeHoliday__left h2 {
  font-size: 5rem;
  font-family: var(--font-secondary);
  color: var(--clr-primary);
  line-height: 5rem;
  max-width: 50rem;
  padding: 1.3rem 0;
}
.homeHoliday__cards {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.homeHoliday__right {
  margin-top: 70rem;
}
.homeHoliday__right h4 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--clr-primary);
}

/* ITEM */
.item {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 2rem;
}
.item img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
.item__details h5 {
  font-size: 2rem;
  font-family: var(--font-secondary);
  line-height: 2rem;
  margin-bottom: 0.5;
}
.item__details small {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 200;
  color: var(--clr-primary);
}

/* HOME HOLIDAY MOBILE */
@media screen and (max-width: 520px) {
  .homeHoliday__left h2 {
    font-size: 3rem;
    line-height: 4rem;
  }
  .homeHoliday__cards {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .homeHoliday__wrapper {
    grid-template-columns: 1fr;
    gap: unset;
  }
  .homeHoliday__left {
    border-right: unset;
    padding-right: unset;
  }
  .homeHoliday__right,
  .homeHoliday {
    margin-top: unset;
  }
}

/* HOME DESIGN */
.homeDesign {
  padding: 5rem 0;
  margin-bottom: 10rem;
}
.homeDesign__wrapper {
  background-color: var(--clr-secondary);
  color: var(--clr-light);
  height: 68rem;
  padding: 5rem 7rem;
  text-align: center;
  position: relative;
}
.homeDesign__details small {
  font-size: 1.3rem;
}
.homeDesign__details h2 {
  font-size: 5rem;
  font-family: var(--font-secondary);
  margin-bottom: 3rem;
}
.homeDesign__details p {
  max-width: 60rem;
  margin: 0 auto;
}
.homeDesign__img {
  margin-bottom: 8.1rem;
}
.homeDesign__img img:first-child {
  position: absolute;
  left: 10rem;
  top: 7rem;
  width: 25rem;
}
.homeDesign__img img:last-child {
  position: absolute;
  right: 10rem;
  top: 7rem;
  width: 25rem;
}
.homeDesign__content {
  border-top: 4px solid var(--clr-secondary);
  background-color: var(--clr-light);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
}
.homeDesign__card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--clr-dark);
  padding: 3rem 2rem;
  text-align: left;
  border-right: 1px solid rgba(18, 17, 17, 0.1);
}
.homeDesign__card h4 {
  font-family: var(--font-secondary);
  font-size: 2.5rem;
}
.homeDesign__card small {
  font-size: 1.3rem;
}

/* HOME DESIGN MOBILE */
@media screen and (max-width: 520px) {
  .homeDesign__img {
    display: none;
  }
  .homeDesign__content {
    margin-top: 5rem;
    flex-direction: column;
    background-color: unset;
    box-shadow: unset;
  }
  .homeDesign__wrapper {
    height: 100%;
  }
  .homeDesign__card {
    background-color: var(--clr-light);
    margin-bottom: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .homeDesign__details h2 {
    font-size: 3rem;
  }
  .homeDesign {
    margin-bottom: unset;
  }
}

/* HOME TRADITION */
.homeTradition {
  padding: 5rem 0;
}
.homeTradition__wrapper {
  display: grid;
  grid-template-columns: 2.5fr 1.3fr;
  gap: 5rem;
}
.homeTradition__item {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3.5rem;
}
.homeTradition__item img {
  width: 35rem;
}
.homeTradition__item span {
  color: var(--clr-secondary);
  font-size: 1.4rem;
  font-weight: 500;
}
.homeTradition__item h4 {
  font-size: 2.5rem;
  font-family: var(--font-secondary);
  line-height: 3rem;
  color: var(--clr-primary);
}
.homeTradition__item small {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 200;
  color: var(--clr-primary);
}
.homeTradition__item p {
  margin-top: 1rem;
  color: var(--clr-primary);
}
.homeTradition__item--title {
  margin-bottom: 2rem;
}
.homeTradition__mail {
  border-image: url(./IMG/border.png) 5 fill;
  height: 67rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homeTradition__mail small {
  color: var(--clr-primary);
  font-family: var(--font-secondary);
  font-size: 1.3rem;
}
.homeTradition__mail h2 {
  color: var(--clr-primary);
  font-family: var(--font-secondary);
  font-size: 5rem;
  margin: 1rem 0;
}
.homeTradition__mail--info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}
.homeTradition__mail--info input {
  padding: 1rem 2rem;
  outline-color: var(--clr-primary);
}
.homeTradition__mail--info input::placeholder {
  color: var(--clr-primary);
}
.homeTradition__flakes {
  color: var(--clr-primary);
  position: relative;
}
.flakes-1 {
  position: absolute;
  font-size: 5rem;
  left: 16rem;
  top: 30rem;
  clip-path: rect(10px 19px 90% 0%);
}
.flakes-2 {
  position: absolute;
  font-size: 5rem;
  bottom: 13.2rem;
  right: 12rem;
  clip-path: rect(30px 50px 90% 0%);
}
.flakes-3 {
  position: absolute;
  font-size: 3rem;
  top: 25rem;
  right: 10rem;
}
.flakes-4 {
  position: absolute;
  font-size: 3rem;
  bottom: 10rem;
  left: 10rem;
}
.flakes-5 {
  position: absolute;
  font-size: 2rem;
  bottom: 5rem;
  right: 10rem;
}

/* HOME TRADITION MOBILE */
@media screen and (max-width: 520px) {
  .homeTradition__wrapper {
    grid-template-columns: 1fr;
  }
  .homeTradition__item {
    flex-direction: column;
  }
  .homeTradition__item img {
    width: 100%;
  }
  .flakes-1 {
    left: 14.5rem;
  }
}

/* HOME CAROLS */

.homeCarols {
  padding: 5rem 0;
  margin-bottom: 10rem;
}
.homeCarols__wrapper {
  background-color: var(--clr-secondary);
  color: var(--clr-light);
  height: 55rem;
  padding: 5rem 7rem;
  text-align: center;
  position: relative;
}
.homeCarols__details small {
  font-size: 1.3rem;
}
.homeCarols__details h2 {
  font-size: 5rem;
  font-family: var(--font-secondary);
  margin-bottom: 3rem;
}
.homeCarols__details p {
  max-width: 60rem;
  margin: 0 auto;
}
.homeCarols__img {
  margin-bottom: 8.1rem;
}
.homeCarols__img img:first-child {
  position: absolute;
  left: 10rem;
  top: 7rem;
  width: 25rem;
}
.homeCarols__img img:last-child {
  position: absolute;
  right: 10rem;
  top: 7rem;
  width: 25rem;
  margin-bottom: 0;
}
.homeCarols__content {
  border-top: 4px solid var(--clr-secondary);
  background-color: var(--clr-light);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
}
.homeCarols__item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--clr-dark);
  padding: 3rem 2rem;
  text-align: left;
  border-right: 1px solid rgba(18, 17, 17, 0.1);
}
.homeCarols__item h2 {
  font-family: var(--font-secondary);
  font-size: 2.5rem;
}
.homeCarols__item small {
  font-size: 1.3rem;
}
.homeCarols__item ul {
  color: var(--clr-primary);
  display: flex;
  align-items: center;
  text-align: left;
  gap: 1rem;
  margin-bottom: 0;
}
.homeCarols__item span {
  padding: 0.7rem 1.3rem;
  letter-spacing: -0.1;
  background: var(--clr-secondary);
  border-radius: 100%;
  color: var(--clr-light);
}
.homeCarols__item p {
  font-family: var(--font-secondary);
  color: var(--clr-primary);
  line-height: 1.5rem;
}
.homeCarols__item small {
  color: var(--clr-primary);
  font-size: 1.2rem;
}

/* HOME CAROLS MOBILE */
@media screen and (max-width: 520px) {
  .homeCarols__img {
    display: none;
  }
  .homeCarols__details h2 {
    font-size: 3rem;
  }
  .homeCarols__content {
    margin-top: 5rem;
    flex-direction: column;
    background-color: unset;
    box-shadow: unset;
  }
  .homeCarols__wrapper {
    height: 100%;
  }
  .homeCarols__item {
    border-right: unset;
    background-color: var(--clr-light);
    margin-bottom: 2rem;
  }
  .homeCarols {
    margin-bottom: unset;
  }
}

/* HOME DECORATIONS */
.homeDecorations {
  padding-top: 5rem;
  margin-top: 10rem;
}
.homeDecorations__wrapper {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 5rem;
}
.homeDecorations__left {
  border-right: 1px solid rgba(18, 17, 17, 0.1);
  padding-right: 5rem;
}
.homeDecorations__left small {
  color: var(--clr-secondary);
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 5rem;
  margin-bottom: 0;
  line-height: 2rem;
}
.homeDecorations__left h2 {
  font-size: 2.5rem;
  font-family: var(--font-secondary);
  color: var(--clr-primary);
  line-height: 1.5rem;
  max-width: 50rem;
  padding: 1.3rem 0;
  margin-bottom: 3rem;
}
.homeDecorations__left span {
  font-size: 1.3rem;
  font-style: italic;
  color: var(--clr-primary);
}
.homeDecorations__left p {
  color: var(--clr-primary);
  max-width: 80rem;
  text-align: justify;
}
.homeDecorations__left img {
  border-bottom: 4px solid var(--clr-secondary);
  margin-bottom: 1rem;
}

.homeDecorations__item {
  padding: 5rem 0;
  display: grid;
  gap: 3rem;
}
.homeDecorations__right {
  margin-top: 0;
}
.homeDecorations__right h4 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--clr-primary);
}

/* HOME DECORATIONS MOBILE */
@media screen and (max-width: 520px) {
  .homeDecorations__left h2 {
    font-size: 3rem;
    line-height: 4rem;
  }
  .homeDecorations__item {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .homeDecorations__wrapper {
    grid-template-columns: 1fr;
    gap: unset;
  }
  .homeDecorations__left {
    border-right: unset;
    padding-right: unset;
  }
  .homeDecorations__right,
  .homeDecorations {
    margin-top: unset;
  }
  .homeDecorations__right h4 {
    margin-top: 2rem;
  }
  .homeDecorations__left h2 {
    margin-bottom: 2rem;
    margin-top: unset;
    font-size: 3rem;
  }
}

/* FOOTER */

.footer {
  padding: 5rem 0;
  background-color: var(--clr-secondary);
  color: var(--clr-light);
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.footer__top h4 {
  font-size: 2.5rem;
  font-family: var(--font-secondary);
}
.footer__top p {
  border: 2px solid var(--clr-light);
  padding: 1.5rem;
  border-radius: 50%;
  font-size: 1.3rem;
}
.footer__top span {
  text-decoration: underline;
  text-transform: uppercase;
}
.footer__links {
  display: flex;
  gap: 5rem;
}
.footer__links ul:first-child {
  max-width: 40rem;
}
.footer__links ul li:first-child {
  margin-bottom: 3rem;
  font-size: 1.3rem;
  font-weight: 700;
}
.footer__links--a ul li a,
.footer__links--b ul li a {
  text-decoration: underline;
  color: var(--clr-light);
}
.footer__links--a,
.footer__links--b {
  display: flex;
  gap: 5rem;
}

/* FOOTER */

@media screen and (max-width: 520px) {
  .footer__links {
    flex-direction: column;
    justify-content: center;
  }
}

/* DESIGN BANNER */
.designBanner {
  padding: 5rem 0;
}
.designBanner__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.designBanner h1 {
  font-size: 8rem;
  color: var(--clr-primary);
  letter-spacing: -0.5rem;
}
.designBanner h5 {
  color: var(--clr-secondary);
  font-style: italic;
  font-weight: 200;
  font-size: 2rem;
  font-family: var(--font-secondary);
  max-width: 48rem;
  text-align: center;
}

/* DESIGN ART */
.art {
  padding: 5rem 0;
}
.art h2 {
  font-family: var(--font-secondary);
  font-size: 5rem;
  text-align: center;
}
.art__title {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  color: var(--clr-light);
}
.art__wrapper {
  background-color: var(--clr-secondary);
  height: 60rem;
  margin-bottom: 10rem;
}
.grid {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: var(--clr-light);
  display: flex;
  flex-direction: column;
  align-items: start;
  transition: all 0.5s ease;
  z-index: 1;
}
.grid:hover {
  transform: translateY(-2rem);
  transition: all 0.5s ease;
}
.grid img {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 99;
  transition: all 0.5s ease;
  object-fit: cover;
  overflow: hidden;
  border-bottom: 4px solid var(--clr-secondary);
}
.grid__text {
  padding: 1rem;
  background-color: var(--clr-light);
}
.grid__text h5 {
  font-family: var(--font-secondary);
  font-size: 2rem;
  color: var(--clr-primary);
}
.grid__text a {
  font-size: 1.2rem;
  color: var(--clr-secondary);
}
.art--a {
  grid-area: a;
}
.art--b {
  grid-area: b;
}
.art--c {
  grid-area: c;
}
.art--d {
  grid-area: d;
}
.art--e {
  grid-area: e;
}
.art--f {
  grid-area: f;
}
.art--g {
  grid-area: g;
}
.art__content {
  padding: 5rem;
  display: grid;
  grid-template-areas:
    "a c e e f"
    "b d e e g";
  gap: 3rem;
  place-content: center;
}
.art--e h2 {
  font-family: var(--font-secondary);
  color: var(--clr-primary);
  font-size: 5rem;
  text-align: left;
  line-height: 7rem;
}
.art--e > .grid__text {
  padding: 3rem;
}
.art--g {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-secondary);
  background-color: var(--clr-light);
}
.art--g:hover {
  color: var(--clr-light);
  background-color: var(--clr-secondary);
}
.art--g h3 {
  font-size: 3rem;
  font-family: var(--font-secondary);
}

/* DESIGN ART MOBILE */
@media screen and (max-width: 520px) {
  .designBanner {
    padding-top: 10rem;
  }
  .art__wrapper {
    height: 100%;
    margin-bottom: unset;
  }
  .art__content {
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "g";
  }
  .art--e h2 {
    font-size: 2rem;
    line-height: 0;
  }
  .art--e > .grid__text {
    padding: 1rem;
  }
  .grid:hover {
    transform: unset;
  }
  .designBanner h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    letter-spacing: unset;
  }
}

/* TRADITIONS BANNER */

.traditionBanner {
  padding-top: 7rem;
}

.traditionBanner__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.traditionBanner__wrapper h5 {
  font-family: var(--font-primary);
  color: var(--clr-primary);
  font-size: 8rem;
  text-align: center;
  margin-bottom: 0;
}
.traditionBanner__wrapper span {
  font-family: var(--font-secondary);
  color: var(--clr-secondary);
  font-style: italic;
  text-align: center;
  font-size: 2rem;
}
.traditionBanner__wrapper img {
  width: 50%;
}

/* TRADITION CONTENT */

.tradition__wrapper {
  gap: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tradition__cards {
  padding: 5rem 0;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  justify-content: center;
  display: grid;
}

.card__traditionDetails span {
  color: var(--clr-secondary);
  font-size: 1.4rem;
  font-weight: 500;
}
.card__traditionDetails h3 {
  font-family: var(--font-secondary);
  color: var(--clr-primary);
  font-size: 2.5rem;
}
.card__traditionDetails small {
  font-style: italic;
  color: var(--clr-primary);
  font-size: 1rem;
}
.card__traditionDetails p {
  color: var(--clr-primary);
  text-align: justify;
}

/* TRADITION MOBILE */
@media screen and (max-width: 520px) {
  .tradition__cards {
    gap: 3rem;
    display: unset;
  }
  .traditionBanner {
    padding-top: 10rem;
  }
  .traditionBanner__wrapper img {
    width: 100%;
    margin-bottom: 3rem;
  }
  .traditionBanner__wrapper h5 {
    font-size: 3.5rem;
  }
  .traditionBanner__wrapper span {
    font-size: 1.5rem;
    margin-bottom: 5rem;
  }
  .card__traditionDetails p {
    margin-bottom: 3rem;
  }
}

/* CAROLS BANNER */

.carolsBanner {
  padding-top: 7rem;
  margin-bottom: 5rem;
}
.carolsBanner__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carolsBanner__wrapper h5 {
  font-family: var(--font-primary);
  color: var(--clr-primary);
  font-size: 8rem;
  text-align: center;
  margin-bottom: 0;
}
.carolsBanner__wrapper span {
  font-family: var(--font-secondary);
  color: var(--clr-secondary);
  font-style: italic;
  text-align: center;
  font-size: 2rem;
}
.carolsBanner__wrapper img {
  width: 50%;
}

/* CAROLS CONTENT */

.carols__wrapper {
  gap: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carols__cards {
  padding: 5rem 0;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  justify-content: center;
  display: grid;
}

.card__carolsDetails span {
  color: var(--clr-secondary);
  font-size: 1.4rem;
  font-weight: 500;
}
.card__carolsDetails h3 {
  font-family: var(--font-secondary);
  color: var(--clr-primary);
  font-size: 2.5rem;
}
.card__carolsDetails small {
  font-style: italic;
  color: var(--clr-primary);
  font-size: 1rem;
}
.card__carolsDetails p {
  color: var(--clr-primary);
  text-align: justify;
}

/* CAROLS MOBILE */

@media screen and (max-width: 520px) {
  .carols__cards {
    gap: 3rem;
    display: unset;
  }
  .carolsBanner {
    padding-top: 10rem;
  }
  .carolsBanner__wrapper h5 {
    font-size: 4rem;
  }
  .carolsBanner__wrapper span {
    font-size: 1.5rem;
  }
  .card__carolsDetails {
    margin-bottom: 3rem;
  }
  .carolsBanner__wrapper img {
    width: 100%;
  }
}

/* FOODS AND DRINKS BANNER */
.foodsBanner {
  padding-top: 7rem;
}

.foodsBanner__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foodsBanner__wrapper h5 {
  font-family: var(--font-primary);
  color: var(--clr-primary);
  font-size: 8rem;
  text-align: center;
  margin-bottom: 0;
}
.foodsBanner__wrapper span {
  font-family: var(--font-secondary);
  color: var(--clr-secondary);
  font-style: italic;
  text-align: center;
  font-size: 2rem;
}
.foodsBanner__wrapper img {
  width: 50%;
}

/* FOODS & DRINKS CONTENT */
.foods__wrapper {
  gap: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.foods__cards {
  padding: 5rem 0;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  justify-content: center;
  display: grid;
}

.card__foodsDetails span {
  color: var(--clr-secondary);
  font-size: 1.4rem;
  font-weight: 500;
}
.card__foodsDetails h3 {
  font-family: var(--font-secondary);
  color: var(--clr-primary);
  font-size: 2.5rem;
}
.card__foodsDetails small {
  font-style: italic;
  color: var(--clr-primary);
  font-size: 1rem;
}
.card__foodsDetails p {
  color: var(--clr-primary);
  text-align: justify;
}

/* FOODS & DRINKS MOBILE */
@media screen and (max-width: 520px) {
  .foods__cards {
    gap: 3rem;
    display: unset;
  }
  .foodsBanner {
    padding-top: 10rem;
  }
  .foodsBanner__wrapper img {
    width: 100%;
    margin-bottom: 3rem;
  }
  .foodsBanner__wrapper h5 {
    font-size: 4rem;
  }
  .foodsBanner__wrapper span {
    font-size: 1.5rem;
    margin-bottom: 5rem;
  }
  .card__foodsDetails p {
    margin-bottom: 3rem;
  }
}

/* DECORATIONS BANNER */
.decorBanner {
  padding-top: 7rem;
}

.decorBanner__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.decorBanner__wrapper h5 {
  font-family: var(--font-primary);
  color: var(--clr-primary);
  font-size: 8rem;
  text-align: center;
  margin-bottom: 0;
}
.decorBanner__wrapper span {
  font-family: var(--font-secondary);
  color: var(--clr-secondary);
  font-style: italic;
  text-align: center;
  font-size: 2rem;
}
.decorBanner__wrapper img {
  width: 50%;
}

/* DECORATIONS CONTENT */
.decor__wrapper {
  gap: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.decor__cards {
  padding: 5rem 0;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  justify-content: center;
  display: grid;
}

.card__decorDetails span {
  color: var(--clr-secondary);
  font-size: 1.4rem;
  font-weight: 500;
}
.card__decorDetails h3 {
  font-family: var(--font-secondary);
  color: var(--clr-primary);
  font-size: 2.5rem;
}
.card__decorDetails small {
  font-style: italic;
  color: var(--clr-primary);
  font-size: 1rem;
}
.card__decorDetails p {
  color: var(--clr-primary);
  text-align: justify;
}

/* DECORATIONS MOBILE */
@media screen and (max-width: 520px) {
  .decor__cards {
    gap: 3rem;
    display: unset;
  }
  .decorBanner {
    padding-top: 10rem;
  }
  .decorBanner__wrapper img {
    width: 100%;
    margin-bottom: 3rem;
  }
  .decorBanner__wrapper h5 {
    font-size: 4rem;
  }
  .decorBanner__wrapper span {
    font-size: 1.5rem;
    margin-bottom: 5rem;
  }
  .card__decorDetails p {
    margin-bottom: 3rem;
  }
}
/* REPEATABLE PATTERNS */
.btn {
  background-color: transparent;
  color: transparent;
}
.btn.bg--red {
  padding: 1rem 3rem;
  background-color: var(--clr-secondary);
  font-size: 1.2rem;
  text-align: center;
  color: var(--clr-light);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
}
.btn.bg--red:hover span {
  position: relative;
  left: 0.5rem;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
}
.btn.bg--green {
  padding: 1rem 1.5rem;
  background-color: var(--clr-primary);
  font-size: 1.2rem;
  color: var(--clr-light);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
}

p > span {
  text-decoration: underline;
}
/* card */
.card img {
  border-bottom: 4px solid var(--clr-secondary);
}
.card__details {
  padding: 1rem;
}
.card__details span {
  color: var(--clr-secondary);
}
.card__details h3 {
  font-size: 3rem;
  line-height: 3rem;
  font-family: var(--font-secondary);
  color: var(--clr-primary);
  padding: 1rem 0;
}
.card__details small {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 200;
  color: var(--clr-primary);
}
.card__details p {
  color: var(--clr-primary);
  margin-top: 1rem;
}
